*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background: grey;
    padding: 25px;
    text-align: center;
}

header h1{
    text-transform: uppercase;
    font-weight: bold;
}